.boardDiv{
    margin-right: auto;
    margin-left: auto;
}

.tic-tac-toe{
    width: 222px;
    height: 222px;
    border-style: solid;
    border-width: 3px;
}
td{
  width: 70px;
  height: 70px;
  border-style: solid;
  border-width: 1px;
  border-spacing: 0%;
  text-align: center;
  font-size: 60px;
}

