.tic-tac-toe{
    border-style: solid;
    border-width: 3px;
}
.tic-tac-toe-tableCell{
    width: 33%;
    height: 33%;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 60px;
}